<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <!--
      Change Data Source if your SQL Server instance name is different.
      Common values: (localdb)\MSSQLLocalDB   or   .\SQLEXPRESS   or   .
    -->
    <add name="LoginDBConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=24-59060-3_LoginDB;Integrated Security=True;Connect Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
